<div class="cyclist">

  <h1 > Your Account Information </h1>
  <p> Username: <%= @cyclist.username %></p>
  <p> Email: <%= @cyclist.email %></p>
  <p><a href="/cyclists/<%=@cyclist.id%>/edit">Edit Account</a></p>

  <!-- <h2> Your Ride Information </h2>
  <% @cyclist.rides.each do |ride| %>
  <p><%= ride.username %> || <a href="/rides/<% ride.slug %>">View</a> / <a href="/rides/<% ride.slug %>/edit">Edit</a></p>
  <% end %>
  <p><a href="/rides/new">Add New Ride</a></p>
  <h2>Your Ride</h2>
  <% @cyclist.rides.each do |ride| %>
    <p><%= ride.ride_date.strftime("%m/%d/%Y")%> - <%= ride.cyclist.name %> - <%= ride.location %> - <a href="/rides/<%= ride.id %>">View</a> / <a href="/rides/<%= ride.id %>/edit">Edit</a></p>
  <% end %>
  <p><a href="/rides/new">Add Ride</a></p> -->

</div>
