<div class="ride">
    <h3><a href="/cyclists/<%=user.id%>"><%= user.name %></a></h3>
    <p>title: <%= ride.title %> miles</p>
    <p>location: <%= ride.location %> minutes</p>
    <p>description: <%= ride.description %></p>
    <p>ride_distance: <%= ride.ride_distance %></p>
    <p>ride_date: <%= ride.ride_date%></p>

</div>
</div>
