

<h2>Edit group ride created: <%= @ride.name %>  </h2>


<form action="/rides/edit/<%=@ride.id%>" method="post">

<input id="hidden" type="hidden" name="_method" value="PATCH">

<label for="title">Group ride name:</label>
<input type="text" name="Group_ride_name" id="title" placeholder="Name your group ride !" value="<%= @ride.title %>" required> <br>


<label for="group_ride_content">Group ride content</label>
<textarea type="text" name="Group_ride_content" id="Group_ride_content" placeholder="Please tell us about this ride" value="<%= @ride.Group_ride_content %>" required></textarea><br></br>


<label for="location">Meet Up:</label>
<input type="text" name="Meet_Up" id="meet_up" placeholder="Departure location" value="<%= @ride.meet_up %>"  required><br>


<label for="ride_distance">Ride Distance:</label>
<input type="number" name="Ride_Distance" id="ride_distance" placeholder="How long is this ride? " value="<%= @ride.ride_distance %>" required><br>

<label for="ride_date">Ride Date:</label>
<input type="date" name="Ride_Distance" id="ride_date" placeholder="When is this ride happening?" value="<%= @ride.ride_date %>" required><br>

<input type="submit" value="submit">

</form>
  
