<h2>Edit your group ride</h2>

<form action="/rides/<%= @ride.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  

  <p>title:<input type='text' name='title' required placeholder='title' id='title' value "<%= @cyclist.title %>" required></p>

  <p>location: <input type='location'  name='location' required placeholder='location' id='location'  value "<%= @cyclist.location %>"  required></p>

  <p>description:<textarea type='description'name='description' require placeholder='Please tell us about the ride ?' id='description' value "<%= @cyclist.description %>"  required></textarea></p>

  <p>ride_distance:<textarea type='interger' name='ride_distance' require placeholder='Ride distance' id='ride_distance' value "<%= @cyclist.ride_distance %>"  required ></textarea></p>

  <p>ride_date:<textarea type='integer'name='ride_date' require placeholder='When is your ride' id='ride_date' value "<%= @cyclist.ride_date%>" required></textarea></p>

  <input type="submit" value="submit">
