<h2> Edit Ride </h2>

<form method="post" action="/rides/<%=@ride.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="title" value="<%= @ridetitle %>">
  <input type="text" name="description" value="<%= @ride.description %>">
  <input type="text" name="ride_distance" value="<%= @ride.ride_distance %>">
  <input type="text" name="ride_date" value="<%= @ride.ride_date%>">
  <input type="submit" value="submit">
</form>
