
  <p> Welcome, <%= current_user.username %> </p>

<%@rides.each do |p|%>

  <div class='ride_data'>
      <h4><a class='ride_title' href='/rides/<%=p.id%>'>title:<%=p.title%></a></h4>
      <p>Meetup location:<%=p.location%></p>
      <p>Ride discriptio:<%=p.description%></p>
      <p>Ride date:<%=p.ride_date%></p>



           <form method="post" action="/rides/<%=p.id%>/delete">
              <input id="hidden" type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete Project">
          </form>

          <form method="get" action="/rides/<%=p.id%>/edit">
              <input type="submit" value="Edit Project">
          </form>
       <%end%>
      </div>
