<h3>Cycling History</h3>

<% @rides.each do |ride| %>
    <%= erb :'rides/_ride', locals: {user: ride.user, ride: ride }%>
<% end %>






<!-- <h3>Cycling History</h3>

<% @rides.each do |ride| %>
   <a href="/rides/<%= ride.id  %>" ><%= ride.title %>title</a>
   <p>location: <%= ride.location %> minutes</p>
   <p>description: <%= ride.description %></p>
   <p>ride_distance: <%= ride.ride_distance %></p>
   <p>ride_date: <%= ride.ride_date%></p>
<% end %> -->








  <!-- <p> Welcome, <%= current_user.username %>



  </p>

<%@rides.each do |r|%>

  <div class='ride_title'>
      <h4><a class='ride_title' href='/rides/<%=r.id%>'>title:<%=r.title%></a></h4>
      <br>
      <div class='ride_info'>
        <p>Meetup location:<%=r.location%></p>
        <p>Ride discriptio:<%=r.description%></p>
        <p>Ride date:<%=r.ride_date%></p>
      </div>
      <small>Created by: <%= current_user.username %></small>
        <%if current_user.username = r %>

       <%end%>
      </div>
    <%end%>

 -->
