<h3><%= @ride.title%></h3>
<li><%= @ride.location %></li>
<li><%= @ride.description %></li>
<li><%= @ride.ride_distance %></li>
<li><%= @ride.ride_date%></li>


<li>User: <%= @ride.email %></li>
<% if @rides.current_user == @ride.user_id %>
  <p><a href="/rides/<%= @ride.id%>/edit">Edit</a></p>
  <p><a href="/rides/<%=@ride.id%>/delete">delete</a></p>
<% end %>
