

<h3>rides for <a href="/rides/<%= @ride.slug%>">  <%= @rides.title %> </a> </h3>



<p>cyclist: <%= @cyclists.username %></p>
<p>Group rides: <%= @rides.group_ride_content %></p>
<br>
<br>


<form method="post" action="/rides/<%=@ride.id%>"  >
<input id="hidden" type="hidden" name="_method" value="delete">


<!-- hide edit and delete buttons if review does not belong to current user -->
<% if @rides.id == @cyclists.id %>

<div class="container">
<div class="row">
   <div class="col text-center">

   <a href="/rides/<%=@ride.id%>/edit"><button type="button" class="btn btn-dark btn-lg"><i class="fas fa-user-edit"></i> Edit</button></a>

   <button type="submit" class="btn btn-dark btn-lg"><i class="fas fa-trash-alt"></i> Delete</button></a>
     </div>
</div>
</div>

<% end %>


</form>
